* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font);
}
html {
    scroll-behavior: smooth;
}
.f-row {
    display: flex;
    flex-direction: row;
}
.f-row-r {
    display: flex;
    flex-direction: row-reverse;
}
.f-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    color: #000;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
}
.card img {
    object-fit: cover;
}
#accomodations,
#activities {
    scroll-margin-top: 50px;
}