/*
    If you edit/see this code with VSCode, use "Better Comments" from Aaron Bond, to see correctly the colors
    of the comments.

    ! is red
    ? is blue
    * is green
    todo is orange

    Developed by Arthur Bordet for the OpenClassroom's front-end training.
*/
/*! Setting up the commons !*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font);
}
html {
    scroll-behavior: smooth;
}
.f-row {
    display: flex;
    flex-direction: row;
}
.f-row-r {
    display: flex;
    flex-direction: row-reverse;
}
.f-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    color: #000;
    background-color: #fff;
    border-radius: 25px;
    overflow: hidden;
}
.card img {
    object-fit: cover;
}
#accomodations,
#activities {
    scroll-margin-top: 50px;
}