/*
    If you edit/see this code with VSCode, use "Better Comments" from Aaron Bond, to see correctly the colors
    of the comments.

    ! is red
    ? is blue
    * is green
    todo is orange

    Developed by Arthur Bordet for the OpenClassroom's front-end training.
*/
/*! Stylising the main page !*/
main {
    padding: 0 50px;
}
/** Navigation bar **/
nav {
    align-items: center;
    position: relative;
}
nav img {
    position: absolute;
    left: 0px;
}
nav ul {
    height: 100%;
}
nav ul li {
    list-style-type: none;
}
nav ul li a {
    border-top: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #000;
    padding: 50px;
    transition: .3s color, .3s border;
}
nav ul li a:hover,
nav ul li a.selected {
    border-top: 2px solid var(--blue-d);
    color: var(--blue-d);
}
nav a.active {
    padding: 0 40px;
    font-weight: bold;
    color: var(--blue-d);
}
/** Filters and research bar **/
section.filters-section p.title {
    font-weight: bold;
    padding-bottom: 5px;
}
section.filters-section h4 {
    font-weight: 500;
}
section.filters-section h2 {
    margin-top: 5px;
    font-weight: 500;
    font-size: 1.2em;
}
.location {
    width: 380px;
    overflow: hidden;
    border-radius: 13px;
    margin: 20px 0 30px 0;
}
.location .icon {
    background-color: var(--gray);
    height: 50px;
    width: 50px !important;
}
.location form {
    display: flex;
}
.location form label {
    display: none;
}
.location form input[type="text"] {
    background-color: #fff;
    border: none;
    height: 100%;
    width: calc(200px);
    font-weight: bold;
    padding: 0 15px;
    margin: 0;
    outline: none;
    border: 1px solid var(--gray);
    font-size: 1em;
}
.location form input[type="submit"] {
    background-color: var(--blue-d);
    color: #fff;
    font-weight: 700;
    font-size: .9em;
    border: none;
    height: 100%;
    width: 130px;
    cursor: pointer;
}
.location form input[type="submit"]:nth-child(3) {
    display: none;
}
.filters {
    align-items: center;
}
.filters h4 {
    font-weight: 700;
    margin-right: 20px;
}
.filter-box {
    background-color: #fff;
    color: #000;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 40px;
    transition: .1s background ease-in-out;
}
.filter-box:hover {
    background-color: var(--blue-l);
}
.filter-box:hover .icon {
    background-color: var(--blue-d);
    color: #fff
}
.filter-box:hover p {
    border-color: var(--blue-d);
}
.filter-box .icon {
    position: absolute;
    background-color: var(--blue-l);
    color: var(--blue-d);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transition: .1s background ease-in-out, .1s color ease-in-out;
}
.filter-box p {
    border-radius: 40px;
    border: 2px solid var(--gray);
    height: 100%;
    width: 100%;
    padding: 0 20px 0 60px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: .1s border-color ease-in-out;
}
.informations-filters i {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: 1px solid var(--gray);
    color: var(--blue-d);
    display: flex;
    align-items: center;
    justify-content: center;
}
.informations-filters {
    align-items: center;
    margin-top: 25px;
}
.informations-filters p {
    margin-left: 15px;
}
/** Panel of researched accomodations **/
.result-housing {
    width: calc(70vw - 50px);
    position: relative;
}
.card-wrapper {
    margin-top: 25px;
    background-color: var(--gray);
    border-radius: 20px;
    min-height: 80vh;
    overflow: hidden;
    padding: 60px 40px 0 40px;
}
.card-wrapper .top {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.card-wrapper .top i {
    font-size: 1.3em;
}
/** Panel of researched accomodations **/
.popular-housing {
    width: calc(30vw - 50px);
    margin-left: 50px;
    position: relative;
}
.popular-housing .top {
    justify-content: space-between;
}
.popular-housing .top a {
    color: #000;
}
.card-wrapper .wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
/** Stylising cards **/
.card-wrapper .wrapper .card {
    width: 250px;
    height: 200px;
    padding: 5px;
    margin: 25px 12.5px 0 12.5px;
}
.card-wrapper .wrapper .card img {
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    width: 100%;
    height: 115px;
}
.card-wrapper .wrapper .card h1,
.card-wrapper .wrapper .card h3,
.card-wrapper .wrapper .card p {
    margin-left: 10px;
    padding: 3px 0;
    font-size: 1.1em;
}
.card-wrapper .wrapper .card p {
    font-size: .9em;
}
/*? System of stars (works with html's data-attributes) ?*/
.stars-count {
    color: var(--gray);
    margin: 0 10px 10px;
    font-size: .9em;
}
.stars-count[data-stars="1"] > i:nth-child(-n+1),
.stars-count[data-stars="2"] > i:nth-child(-n+2),
.stars-count[data-stars="3"] > i:nth-child(-n+3),
.stars-count[data-stars="4"] > i:nth-child(-n+4),
.stars-count[data-stars="5"] > i:nth-child(-n+5) {
    color: var(--blue-d);
}
.card-wrapper .wrapper .card.popular {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 150px;
}
.card-wrapper .wrapper .card.popular img {
    height: 100%;
    width: 140px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 21px;
}
.card-wrapper .wrapper .card.popular .infos {
    position: relative;
    height: 100%;
    padding: 0 22px;
}
.card-wrapper .wrapper .card.popular .stars-count {
    position: absolute;
    bottom: 0;
}
/** More housing button **/
.seemore-box {
    height: 150px;
    display: flex;
    align-items: center;
}
.seemore {
    color: #000;
    font-weight: 700;
}
/** Activity section stylising **/
.activities h1 {
    margin: 80px 0 25px;
}
.activities .wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-auto-rows: 100px;
    height: 650px;
}
.activities .wrapper .card {
    box-shadow: 0 0 15px var(--gray);
    width: 90%;
    margin: calc(42px / 2);
}
.activities .wrapper .card img {
    height: calc(100% - 60px);
    width: 100%;
}
.activities .wrapper .card p {
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 55px;
    font-weight: 800;
}
/*? Big Cards ?*/
.activities .wrapper .card:nth-child(1) {
    grid-column: 1;
    grid-row: 1/11;
}
.activities .wrapper .card:nth-child(4) {
    grid-column: 3;
    grid-row: 1/11;
}
/*? Small Cards ?*/
.activities .wrapper .card:nth-child(2) {
    grid-column: 2;
    grid-row: 1/7;
}
.activities .wrapper .card:nth-child(3) {
    grid-column: 2;
    grid-row: 7/11;
}
.activities .wrapper .card:nth-child(5) {
    grid-column: 4;
    grid-row: 1/6;
}
.activities .wrapper .card:nth-child(6) {
    grid-column: 4;
    grid-row: 6/11;
}
/*! Stylising the footer !*/
footer {
    margin-top: 50px;
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
}
footer section {
    width: calc(100% / 3);
    height: 100%;
    padding: 80px;
}
footer section h3 {
    margin-bottom: 10px;
}
footer section ul li {
    list-style-type: none;
}
footer section ul li a {
    color: #000;
    line-height: 30px;
}
/*! Stylising the accomodations, for a screen size of 1630px  !*/
@media screen and (max-width: 1710px) {
    #accomodations {
        flex-direction: column-reverse;
    }
    .result-housing {
        width: 100%;
        margin-left: 0;
        padding: 50px 25px;
    }
    .popular-housing {
        width: 100%;
        margin-left: 0;
        padding: 50px 25px;
        height: auto;
    }
    .popular-housing .wrapper {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        gap: 15px;
    }
    .card-wrapper {
        min-height: auto;
    }
    .popular-housing .wrapper .card.popular {
        width: 100%;
        margin: 0;
        position: relative;
    }
    .popular-housing .wrapper .card.popular img {
        width: 50%;
        position: relative;
    }
    .popular-housing .wrapper .card.popular .infos {
        width: 50%;
        padding: 5px;
    }
    .result-housing {
        background-color: #fff;
        padding-bottom: 0;
    }
    .result-housing .wrapper {
        margin-top: 25px;
        display: flex;
    }
    .result-housing .wrapper .card {
        box-shadow: 0 0 15px var(--gray);
    }
    .result-housing .wrapper .card img {
        width: 100%;
    }
    .seemore-box {
        height: 80px;
    }
}

/*! Stylising the accomodations, for a screen size of 1630px  !*/
@media screen and (max-width: 1110px) {
    .card-wrapper .wrapper .card h1,
    .card-wrapper .wrapper .card p {
        font-size: .9em;
    }
}