/*
    If you edit/see this code with VSCode, use "Better Comments" from Aaron Bond, to see correctly the colors
    of the comments.

    ! is red
    ? is blue
    * is green
    todo is orange

    Developed by Arthur Bordet for the OpenClassroom's front-end training.
*/
/*! Stylising the phone version !*/
@media screen and (max-width: 810px) {
    main {
        max-width: 100%;
        overflow: hidden;
        margin: 0;
        padding: inherit;
    }
    nav {
        height: 80px;
        max-width: 100%;
        margin-bottom: 90px;
        display: flex;
        align-items: center;
    }
    nav img {
        left: 25px;
    }
    nav .connexion {
        position: absolute;
    }
    nav ul {
        display: flex;
        position: absolute;
        height: 80px;
        bottom: -50px;
        width: 100%;
    }
    nav ul li {
        width: 50%;
    }
    nav ul li a {
        border-top: none;
        border-bottom: 2px solid var(--gray);
        width: 100%;
    }
    nav ul li a.selected,
    nav ul li a:hover {
        border-top: none;
        border-bottom: 2px solid var(--blue-d);
    }

    .filters-section {
        padding: 0 20px;
    }
    .location {
        width: 100%;
        position: relative;
    }
    .location form input[type="text"] {
        width: calc(100vw - 40px - 80px);
    }
    .location form input[type="submit"]:nth-child(2) {
        display: none;
    }
    .location form label input[type="submit"] {
        display: block;
        height: 50px;
        width: 50px;
        width: initial;
        border-radius: 12px;
        background-color: var(--blue-d);
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
    .location form label {
        position: absolute;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
    }
    .location form label i {
        position: absolute;
        z-index: 2;
        top: 18px;
        color: #fff;
    }
    .filters {
        flex-wrap: wrap;
    }
    .filter-w {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }
    .filter-box {
        margin: 5px;
    }
    #accomodations {
        flex-direction: column-reverse;
    }
    .popular-housing,
    .result-housing {
        width: 100%;
        margin-left: 0;
        padding: 50px 25px;
    }
    .result-housing {
        background-color: #fff;
        padding-bottom: 0;
    }
    .result-housing .wrapper {
        margin-top: 25px;
    }
    .result-housing .wrapper .card {
        width: 100%;
        box-shadow: 0 0 15px var(--gray);
    }
    .result-housing .wrapper .card img {
        width: 100%;
    }
    .seemore-box {
        height: 80px;
    }
    .activities {
        padding: 0 20px;
    }
    .activities h1 {
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .activities .wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .activities .wrapper .card {
        width: 100%;
        margin: 25px 0 0 0;
        height: 200px;
    }
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 15px 0;
    }
    footer section {
        width: 100%;
        padding: 25px;
    }
}