/*
    If you edit/see this code with VSCode, use "Better Comments" from Aaron Bond, to see correctly the colors
    of the comments.

    ! is red
    ? is blue
    * is green
    todo is orange

    Developed by Arthur Bordet for the OpenClassroom's front-end training.
*/
/*! Setting up the variables !*/
:root {
    --font: 'Raleway', sans-serif;
    --blue-d: hsl(216, 100%, 49%);
    --blue-l: hsl(216, 100%, 94%);
    --gray: hsl(0, 0%, 95%);
}